<div class="well">
    <a routerLink="/lugares">Lugares</a> / Contacto
  </div>
  
  <div class="container">
    <label for="Nombre">Nombre</label>
    <input type="text" class="form-control">
    <label for="Email">Email</label>
    <input type="email  " class="form-control">
    <label for="Mensaje">Mensaje</label>
    <textarea name="Mensaje" id="Mensaje" cols="30" rows="10" class="form-control"></textarea>
    <hr>
    <a href="" class="btn btn-primary">Enviar</a>
    <a routerLink="/lugares" class="btn btn-default">Cancelar</a>
  </div>