<!-- map -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<br>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares Cercanos</h2>
      <a routerLink="/crear/new" class="btn btn-primary">Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <li class="list-group-item">
            <a routerLink="/crear/{{lugar.id}}">
              <h3>{{ lugar.nombre | uppercase }}</h3>
            </a>
            <br>
            <small>Creado: {{ lugar.id | date:'mediumTime' | uppercase }}</small>
            <p [innerHTML]="lugar.descripcion | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4" [@contenedorAnimable]="state">
      <h2>Destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
        <div class="bg-danger rectangle" *ngIf="lugar.plan == 'Pagado'">
          <a routerLink="/crear/{{lugar.id}}">
            <h3>{{ lugar.nombre | uppercase }}</h3> <i class="fa fa-star pull-right" aria-hidden="true"></i>
          </a>
          <p [innerHTML]="lugar.descripcion | linkifystr"></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>