<!--The content below is only a placeholder and can be replaced.-->


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr />
<ul>
  <!-- ngIF in array directivas estructural empiezan con *-->
  <ng-container *ngFor="let lugar of lugares">
    <li *ngIf="lugar.active">
      {{ lugar.nombre }}
    </li>
  </ng-container>
</ul>
<hr />
<!-- Lista de personas mayores a 18 usando directivas -->
<ul>
  <ng-container *ngFor="let persona of personas">
    <li *ngIf="persona.edad > 18">
      {{ persona.nombre }}
    </li>
  </ng-container>
</ul>
 

