<div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="well">
          <label for="">Nombre</label>
          <input type="text" class="form-control">
          <br>
          <label for="">Apellido</label>
          <input type="text" class="form-control">
          <br>
          <label for="">Nombre de Usuario</label>
          <input type="text" class="form-control">
          <br>
          <label for="">Email</label>
          <input type="email" class="form-control">
          <br>
          <label for="">Contraseña</label>
          <input type="password" class="form-control">
          <br>
          <label for="">Confirmar Contraseña</label>
          <input type="password" class="form-control">
          <hr>
          <a class="btn btn-primary btn-block">Registrar</a>
          <a class="btn btn-default btn-block">Cancelar</a>
        </div>
      </div>
    </div>
  </div> 